body {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Poppins', sans-serif;
}

.origin-part {
    text-align: center;
    background-image: url(images/donation1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    background-size: 1000px 1000px;
    background-repeat: no-repeat;
    width: 100%;

}

#size {
    font-size: 50px;

}

.start-part {
    text-align: center;
    height: 50%;
    padding-top: 100px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.middle-part {
    text-align: center;
}




.again {
    display: flex;
    margin-bottom: 100px;
}

.help {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.pic-first {
    padding-left: 20px;
    width: 50%;

}

.last {
    background-color: bisque;
    text-align: center;
    border-radius: 50px 30px;


}